<div ng-controller="SidebarController as sbc">
    <side-bar when-done-animating="sbc.sidebarReady()">
        <div class="sidebar-filler"></div>
        <div class="sidebar-dropdown"><a href="#">Menu</a></div>
        <div class="sidebar-inner">
            <div class="sidebar-widget"></div>
            <ul class="navi">
                <li class="nlightblue fade-selection-animation" ng-class="sbc.isCurrent(r)"
                    ng-repeat="r in sbc.navRoutes">
                    <a ui-sref="{{r.name}}"
                       ng-bind-html="r.settings.content"></a>
                </li>
            </ul>
        </div>
    </side-bar>
</div>
