
<!-- <nav class="navbar navbar-fixed-top navbar-inverse"> -->
<div class="container">
        <a href="/" class="navbar-brand"> <img ng-src="{{tnv.navline.title}}"/></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

    <div class="right-tabs clearfix col-sm-10">
       
            <ul class="nav nav-tabs ">
                <li  class="btn btn-default topnav">
                    <a ui-sref="students" ng-bind="tnv.navline.student">
                    </a>
                </li>
                <li class="btn btn-default topnav">
                    <a ui-sref="shortReads" ng-bind="tnv.navline.shortReads">
                    </a>
                </li>
                <li class="btn btn-default topnav">
                    <a ui-sref="help" ng-bind="tnv.navline.help">
                    </a>
                </li>
               <!--  <li class="dropdown dropdown-big">
                    <a href="http://www.angularjs.org" target="_blank">
                        <img src="images/AngularJS-small.png" />
                    </a>
                </li>
                <li>
                    <a href="http://www.gulpjs.com/" target="_blank">
                        <img src="images/gulp-tiny.png" />
                    </a>
                </li> -->
            </ul>
       
    </div>
</div>
<!-- </nav> -->
    